@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w_prop{
    width: 248px;
  } 
  .w_props-row{
    width: 216px;
  }
  .w_8{
    width: 8px;
  }
  .w_16{
    width: 16px;
  }
  .w_24{
    width: 24px;
  }
  .w_32{
    width: 32px;
  }
  .w_40{
    width: 40px;
  }
  .w_48{
    width: 48px;
  }
  .w_56{
    width: 56px;
  }
  .w_64{
    width: 64px;
  }
  .w_72{
    width: 72px;
  }
  .w_80{
    width: 80px;
  }
  .w_184{
    width: 184px;
  }
  .icon{
    width: 24px;
    height: 24px;
  }
  .h_16{
    height: 16px;
  }
  .h_24 {
    height: 24px;
  }
  .h_32 {
    height: 32px;
  }
  .h_40 {
    height: 40px;
  }
  .h_48 {
    height: 48px;
  }
  .h_56{
    height: 56px;
  }
  .h_64{
    height: 64px;
  }
  .h_216 {
    height: 216px;
  }
  .knot{
    width: 13px;
    height: 13px;
    margin-left: 0px;
    border-radius: 50%;
  }
  .knot:hover{
    width: 17px;
    height: 17px;
    margin-left: -2px;
  }
  .knotBig{
    width: 17px!important;
    height: 17px!important;
    margin-left: -2px!important;
    border-radius: 50%;
  }


  .track{
    height: 1px;
    width: 100%;
  }

  .knotMid {
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  .knot:hover > .knotMid {
    width: 9px!important;
    height: 9px!important;
    border-radius: 50%;
  }

  .knotOuterBorder {
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,0.1);
    
  }
  .knotOuterBorder:hover {
    width: 19px;
    height: 19px;
  }
  
  .knotMidBig {
    width: 9px;
    height: 9px;
    border-radius: 50%;
  }

  .appearance-hide{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;

  }

  .bg-none{
    background: none;
  }

  .w_wide-10{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.1);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.1);
  }
  .b_border {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
  }

  .hideScrollBar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .hideScrollBar::-webkit-scrollbar {
    display: none;
  }
  
}
